/* @import url(https://fonts.googleapis.com/css?family=Merriweather+Sans&subset=latin,latin-ext); */

body {
    margin: 0;
    font-family: "Merriweather Sans", sans-serif;
    font-size: 1rem;
    font-weight: 300;
    line-height: 1.5;
    color: #24274A;
    text-align: left;
    background-color: #729ac3;
}

.bg-primary {
    color: #000000  !important;
    background-color: #729ac3 !important;
}


a.bg-primary:hover, a.bg-primary:focus,
button.bg-primary:hover,
button.bg-primary:focus {
    background-color: #83b1e0 !important;
}


.navbar-theme-primary:not(.headroom) {
    background-color: #729ac3;
}

.navbar-theme-primary:not(.navbar-transparent) {
    background-color: #729ac3;
}

.navbar-brand img {
    height: 100px;
    width: 100px;
}

/*
 orientation: landscape|portrait -> add class ?
   -> adapt max-height
*/
.card-img-top {
    max-width: 100%;
    max-height: 160px;
    border-top-left-radius: calc(0.55rem - 0.0625rem);
    border-top-right-radius: calc(0.55rem - 0.0625rem);
    display: block;
    margin-left: auto;
    margin-right: auto;
}


.shadow-soft {
    box-shadow: 6px 6px 12px #6183a6, -6px -6px 12px #83b1e0 !important; 
}

.shadow-inset {
    box-shadow: inset 2px 2px 5px #6183a6, inset -3px -3px 7px #83b1e0 !important;
}

.border-light {
    border-color: #72aab3 !important;
}
.border-dark {
    border-color: #528ad3 !important;
}
.border-default {
    border-color: #629ac3 !important;
}
