/* @import url(https://fonts.googleapis.com/css?family=Merriweather+Sans&subset=latin,latin-ext); */

:root {
    --morph-bg: #84b7df;
    --morph-light: #98d2ff;
    --morph-dark: #709cbe;
}

body {
    margin: 0;
    font-family: "Merriweather Sans", sans-serif;
    font-size: 1rem;
    font-weight: 300;
    line-height: 1.5;
    color: #24274A;
    text-align: left;
    background-color: var(--morph-bg);
}

.bg-primary {
    color: #000000  !important;
    background-color: var(--morph-bg) !important;
}


a.bg-primary:hover, a.bg-primary:focus,
button.bg-primary:hover,
button.bg-primary:focus {
    background-color: var(--morph-bg) !important;
}


.navbar-theme-primary:not(.headroom) {
    background-color: #3180be;
}

.navbar-theme-primary:not(.navbar-transparent) {
    background-color: #3180be;
}

.navbar-brand img {
    height: 100px;
    width: 100px;
}

/*
 orientation: landscape|portrait -> add class ?
   -> adapt max-height
*/
.card-img-top {
    max-width: 100%;
    max-height: 160px;
    border-top-left-radius: calc(0.55rem - 0.0625rem);
    border-top-right-radius: calc(0.55rem - 0.0625rem);
    display: block;
    margin-left: auto;
    margin-right: auto;
}


.shadow-soft {
    box-shadow: 6px 6px 12px var(--morph-dark), -6px -6px 12px var(--morph-light) !important; 
}

.shadow-inset {
    box-shadow: inset 2px 2px 5px var(--morph-dark), inset -3px -3px 7px var(--morph-light) !important;
}

.border-light {
    border-color: #3170ce !important;
}
.border-dark {
    border-color: #4180be !important;
}
.border-default {
    border-color: #2180be !important;
}
