/* @import url(https://fonts.googleapis.com/css?family=Merriweather+Sans&subset=latin,latin-ext); */

:root {
    --morph-bg:    #84b7df;
    --morph-light: #98d2ff;
    --morph-dark:  #709cbe;
    --earth:       #834d05;
    --clouds:      #FFFFFF;
    --ocean:       #062379;
    --forest:      #076002;
    --fire:        #e04b0f;
}

body {
    margin: 0;
    font-family: "Merriweather Sans", sans-serif;
    font-size: 1rem;
    font-weight: 300;
    line-height: 1.5;
    color: #24274A;
    text-align: left;
    background-color: var(--morph-bg);
}

.bg-primary {
    background-color: var(--morph-bg) !important;
}

.morph { background-color: var(--morph-bg) !important; }
.earth { color: var(--earth) !important; } 
.clouds { color: var(--clouds) !important; } 
.ocean { color: var(--ocean) !important; } 
.forest { color: var(--forest) !important; } 
.fire { color: var(--fire) !important; } 

.navbar-theme-primary:not(.headroom) {
    background-color: var(--morph-bg);
}

.navbar-theme-primary:not(.navbar-transparent) {
    background-color: var(--morph-bg);
}

.navbar-brand img {
    height: 100px;
    width: 100px;
}

/*
 orientation: landscape|portrait -> add class ?
   -> adapt max-height
*/
.card-img-top {
    max-width: 100%;
    max-height: 160px;
    border-top-left-radius: calc(0.55rem - 0.0625rem);
    border-top-right-radius: calc(0.55rem - 0.0625rem);
    display: block;
    margin-left: auto;
    margin-right: auto;
}


.shadow-soft {
    box-shadow: 6px 6px 12px var(--morph-dark), -6px -6px 12px var(--morph-light) !important; 
}

.shadow-inset {
    box-shadow: inset 2px 2px 5px var(--morph-dark), inset -3px -3px 7px var(--morph-light) !important;
}

.border-light {
    border-color: #84b7df !important;
}
.border-dark {
    border-color: #6497bf !important;
}
.border-default {
    border-color: #74a7cf !important;
}

div.card {
  min-height: 385px;
}

div.card a.btn {
  width: 50%;
  background: linear-gradient(145deg, #84b7df, #6497bf);
}
div.card a.btn:hover, div.card a.btn:active {
  background: linear-gradient(145deg, #6497bf, #84b7df);
}

@media (min-width: 1400px) {
.col-xxl-2 {
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
}
}

/* Flip Cards  https://www.w3schools.com/howto/howto_css_flip_card.asp  */
.flip-card {
  /* width: 300px; */
  height: 350px;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
}

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
}

/* Style the back side */
.flip-card-back {
  transform: rotateY(180deg);
}
